streamlit
requests
python-docx
htmldocx
mistune
fastapi
uvicorn
python-multipart
langchain-core
langchain-openai
sqlalchemy
pandas
seaborn
matplotlib
tavily-python
zipfile36
aiofiles
typing-extensions
azure-core
azure-ai-documentintelligence
asyncio
pydantic_settings
pyodbc
tabulate
# PDF and Image Processing
PyMuPDF  # for fitz
opencv-python  # for cv2
Pillow  # for PIL
pypandoc
markdown
litellm
openai
python-dotenv
aiohttp
openpyxl
numpy